.outer-container {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inner-container {
    width: 70%;
    border: 1px solid lightgrey;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
}

.content-container {
    flex: 0 0 65%;
    border-radius: 7px 0 0 7px;
    background-image: linear-gradient(to bottom, #34495e, #2c3e50);
    display: flex;
    align-items: center;
}

.content {
    padding: 0 80px;
}

.title {
    color: white;
}

.description {
    color: grey;
}

.signup-form-container {
    flex: 0 0 35%;
}

.signup-form {
    padding-top: 15px;
}

.form-title {
    padding: 30px;
}

.signup {
    margin: 0;
}

.already {
    margin: 3px 0;
}

a {
    text-decoration: none;
    padding-left: 2px;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.terms {
    padding-left: 2px;
    font-size: 12px;
}

.terms-conditions {
    display: flex;
    align-items: flex-start
}

.label {
    padding-bottom: 3px;
    font-size: 13px;
}

.required::after {
    content: "*";
    padding-left: 2px;
    color: black;
    font-size: 13px;
}

.input-field {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.password-field {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: calc(100% - 15px);
}

.password {
    position: relative;
}

i {
    position: absolute;
    font-size: 18px;
    color: rgb(81, 80, 80);
    right: 7px;
    top: 23%;
    cursor: pointer;
}

.input-field:focus {
    border: 2px solid lightblue;
    outline: none;
}

.create-acc {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: lightblue;
    border: none;
}

.btn:hover {
    background-color: rgb(190, 173, 230);
}

.error {
    color: red;
    font-size: 10px;
    font-weight: 600;
    margin: 3px 0 0 0;
}


@media only screen and (min-width: 319px) and (max-width: 768px) {
    .inner-container {
        width: 100%;
    }

    .content-container {
        flex: 0 0 100%;
        text-align: center;
        border-radius: 0;
    }

    .inner-container {
        width: 100%;
    }

    .signup-form-container {
        flex: 0 0 100%;
    }

    .content {
        padding: 0 50px;
    }

    .form-title {
        padding: 20px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1042px) {

    .outer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
    }

    .inner-container {
        width: 100%;
    }

    .content-container {
        flex: 0 0 65%;
        border-radius: 10x 0;
    }

    .signup-form-container {
        flex: 0 0 35%;
    }

    .form-title {
        padding: 30px;
    }
}